{% extends "todo_crud/base.html" %}

{% block title %}TODO details{% endblock %}

{% block style %}
.description {
    height: 200px;
    border: 0px;
    padding: 0px;
}
{% endblock %}

{% block content %}
<h1>TODO details</h1>

<dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">{{ todo.title }}</dd>

    <dt class="col-sm-3">Done</dt>
    <dd class="col-sm-9">{{ todo.done }}</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">
        <textarea readonly class="form-control description">{{ todo.description }}</textarea>
    </dd>
</dl>
{% endblock %}