<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODO list</title>
        <style>
            .done {
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <h1>TODO list</h1>

        {% if formset.forms %}
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            <ul>
            {% for form in formset %}
                <li>
                    {{ form.id }}
                    {{ form.done }}
                    <a href="{% url 'detail' form.instance.id %}" {% if form.done.value %}class="done"{% endif %}>
                        {{ form.instance.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            <input type="submit" value="Update"/>
        </form>
        {% else %}
            <p>Nothing TODO.</p>
        {% endif %}

        <p>
            <a href="{% url 'new' %}">New TODO</a>
        </p>
    </body>
</html>