{% extends "todo_crud/base.html" %}

{% block title %}TODO list{% endblock %}

{% block style %}
.done {
    text-decoration: line-through;
}
{% endblock %}

{% block content %}
<h1>TODO list</h1>

{% if formset.forms %}
<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <p>
        <ul class="list-group">
        {% for form in formset %}
            <li class="list-group-item">
                {{ form.id }}
                {{ form.done }}
                <a
                    href="{% url 'detail' form.instance.id %}"
                    {% if form.done.value %}
                        class="link-primary done"
                    {% else %}
                        class="link-primary"
                    {% endif %}
                >
                    {{ form.instance.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </p>

    <p>
        <button type="submit" value="Update" class="btn btn-primary">
            <i class="bi bi-cloud-upload"></i> Update
        </button>
    </p>
</form>
{% else %}
    <p>Nothing TODO.</p>
{% endif %}

<p>
    <a href="{% url 'new' %}" class="btn btn-success"><i class="bi bi-plus-square-dotted"></i> New</a>
</p>
{% endblock %}